

.image-upload-container {
    border: 2px  dashed #bbb;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}