@import 'bootstrap/dist/css/bootstrap.min.css';

.result-card .card-title {
    font-size: 1.8rem;
    color: #444444;
}

.result-card .card-text {
    font-size: 1.25rem;
    color: #6E6E6E;
}

@media (min-width: 768px) {
    .result-card .ps-custom {
        padding-inline-start: 2rem !important;
    }

    .result-card .pe-custom {
        padding-inline-end: 2rem !important;
    }
}