.service-section-container .content {
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
}

@media (max-width: 992px) {
    .service-section-container .content {
        padding: 20px;
        gap: 80px;
    }
}

